##############################
## Folders                  ##
##############################
model/
research/
exceptation/

##############################
##          conf            ##
##############################
config.py
mirai-api-http-v1.8.4.jar
DenseNet121_NSFW.pth